* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1350px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}



/*===BANNER-SECTION START HERE===*/

.banner-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.banner-section .main-column {
    display: flex;
    flex-wrap: wrap;
}

.banner-section .left-column {
    width: 45%;
    padding-right: 3%;
}

.banner-section .right-column {
    width: 45%;
    margin-left: 5%;
    padding-left: 2%;
}

.banner-section .left-column h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 45px;
}

.banner-section .orange {
    color: orange;
}

.banner-section .left-column h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
}

.banner-section .left-column p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 15px;
    color: dimgray;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.banner-section .right-column img {
    width: 100%;
}



/*===DREAM BIG SECTION START HERE===*/

.dream-big-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big-section .main-column {
    display: flex;
    flex-wrap: wrap;
}

.dream-big-section .left-column {
    width: 45%;
    padding-right: 3%;
}

.dream-big-section .right-column {
    width: 45%;
    margin-left: 5%;
    padding-left: 2%;
}

.dream-big-section .left-column img {
    width: 100%;
}

.dream-big-section .right-column h2 {
    font-size: 45px;
    font-weight: 500;
    margin-top: 45px
}

.dream-big-section .right-column h3 {
    font-size: px;
    font-weight: 500;
    margin-top: 30px;
}

.dream-big-section .right-column p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 15px;
    color: dimgray;
}

.dream-big-section .container {
    padding-top: 80px;
    padding-bottom: 80px;
}



/*===EXPERIANCE-AREA START HERE===*/

.experiance-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.experiance-area .main-coliumn {
    display: flex;
    flex-wrap: wrap;
}

.experiance-area .left-column {
    width: 45%;
    padding-left: 2%;
}

.experiance-area .right-column {
    width: 45%;
    padding-left: 2%;
    margin-left: 5%;
}

.experiance-area h1 {
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 500;
}

.experiance-area h2 {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 25px;
    padding-top: 30px;
}

.experiance-area h3 {
    font-weight: 500;
    font-size: 25px;
    color: orange;
    padding-bottom: 15px;
}

.experiance-area p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 100px;
    color: dimgray;
}

.experiance-area .left-column {
    box-shadow: 2px 0px 30px -5px;
    border-left: 7px solid red;
    border-radius: 8px;
}

.experiance-area .right-column {
    box-shadow: 2px 0px 30px -5px;
    border-left: 7px solid blue;
    border-radius: 8px;
}

.experiance-area .container {
    padding-bottom: 150px;
}

.footer-section p {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: dimgray;
    padding-bottom: 30px;
}